.title h3 {
  font-size: 40px;
  margin: 20px 15%;
}

.black-line {
  margin: 10%;
  height: 2px;
  width: 50%;
  background-color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 20px;
}

.title h5 {
  font-size: 20px;
  margin-left: 10%;
  font-style: italic;
}

.main_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container {
  display: inline-block;
  background-color: #333;
  color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  border: 3px solid rgb(203, 203, 203);
  transition: 0.8s;
  box-shadow: 10px 5px rgb(253, 253, 253);
}

.picture {
  width: 60%;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  transition: 0.8s;
}

.container:hover {
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 10px 5px rgb(0, 0, 0);
}

.container:hover img {
  border: 3px solid rgb(203, 203, 203);
}

.white-line {
  margin: auto;
  height: 1px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.671);
  margin-top: 0px;
  margin-bottom: 20px;
}

.button-link {
  display: inline-block;
  height: 8px;
  line-height: 8px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.button-link:hover {
  background-color: #333;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
