{% extends 'main/layout.html' %} {% load static %} {% block title %}
<title>authorization</title>
<link rel="stylesheet" href="{% static 'main/css/stylesForAyth.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <h3>Вход на сайт</h3>
  <div class="white-line"></div>
  <form>
    <input type="email" placeholder="E-mail" />
    <input type="password" placeholder="Пароль" />
    <input type="submit" value="Войти" />
  </form>
</div>
<div class="container">
  <h3>Регистрация</h3>
  <div class="white-line"></div>
  <form>
    <input type="text" placeholder="Имя" />
    <input type="text" placeholder="Фамилия" />
    <input type="email" placeholder="E-mail" />
    <input type="password" placeholder="Пароль" />
    <input type="password" placeholder="Повторите пароль" />
    <input type="submit" value="Зарегестрироваться" />
  </form>
</div>
{% endblock %}
