{% extends 'main/layout.html' %} {% load static %} {% block title %}
<title>Dimension Workshop</title>
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}" />
{% endblock %} {% block content %}
<div class="header">
  <div>
    <img class="logo" src="{% static 'main/img/DW.jpg' %}" alt="DW Logo" />
  </div>
  <div class="title">
    <h1>Dimension Workshop</h1>
    <h2>Творческая мастерская по 3D печати и не только!</h2>
  </div>
</div>

<div class="container">
  <div class="description">
    <p>
      Занимаемся 3D печатью с 2022 года. Мы изобретаем самые креативные подходы
      к этой технологии производства. Наш продукт проходит путь от эскиза до
      воплощенной в реальном мире модели. Наша команда состоит из опытных
      инженеров и дизайнеров, которые работают в тесном сотрудничестве, чтобы
      создать уникальные и инновационные изделия. Мы стремимся к постоянному
      улучшению процесса 3D печати, и наша миссия - предоставить клиентам
      высококачественные и индивидуальные решения, которые полностью
      соответствуют их потребностям. Наше оборудование находится в постоянном
      обслуживании, чтобы гарантировать высокую точность и скорость
      производства, а также надежность наших изделий. Мы гордимся своими
      проектами и с удовольствием принимаем новые вызовы, чтобы продолжать
      совершенствовать нашу работу в мире 3D печати.
    </p>
  </div>
  <div class="description">
    <p>
      Кроме предоставления услуг 3D печати, мы также с гордостью выпускаем
      собственные товары, которые сочетают в себе нашу экспертизу в области
      производства и творческий подход к дизайну. Наши товары проходят через
      внимательный и многозвенный процесс создания, начиная с идеи и эскиза.
      Первым этапом является дизайн, где наши креативные специалисты
      разрабатывают уникальные концепции, учитывая функциональность и эстетику.
      Затем мы переходим к моделированию, где используется специализированное
      программное обеспечение для создания 3D-моделей, учитывая даже самые
      мельчайшие детали. После завершения дизайна и моделирования, мы переходим
      к этапу 3D печати, где мы используем передовое оборудование и материалы
      высокого качества для создания наших продуктов. Каждая деталь внимательно
      контролируется, чтобы гарантировать их точность и прочность. Наконец, наши
      товары проходят этап послепроизводственной обработки, где они могут
      подвергаться финишной отделке, окраске и сборке, в зависимости от
      конкретных требований дизайна. Мы уделяем особое внимание качеству и
      деталям, чтобы обеспечить удовлетворение наших клиентов. Эти уникальные
      изделия, созданные с любовью и страстью к инновациям, доступны для покупки
      в нашем магазине, и мы гордимся предоставлением клиентам возможности
      приобрести продукты, которые объединяют в себе креативный дизайн и
      передовые технологии.
    </p>
  </div>
  <div class="description">
    <p>Следите за нашими новосятями в телеграмм канале</p>
  </div>
</div>
{% endblock %}
