{% extends 'main/layout.html' %} {% load static %} {% block title %}
<title>Prodeucts</title>
<link rel="stylesheet" href="{% static 'products/css/products_styles.css' %}" />
{% endblock %} {% block content %}
<div class="container">
  <h3>Товары</h3>
  <div class="white-line"></div>
  <p>Бутылкорез регулируемый</p>
  <p>Бутылкорез с плавной регулировкой ширины нарезаемой ленты</p>
</div>
<div class="container">
  <h3>Регистрация</h3>
  <div class="white-line"></div>
  <p>Бутылкорез малый</p>
  <p>Бутылкорез с фиксированной шириной нарезаемой ленты</p>
</div>
{% endblock %}
